<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://faqfunctionapp20200611160123.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7362a9e7-e741-430c-9483-85f3897e9755/resourceGroups/FAQResources/providers/Microsoft.Web/sites/FAQFunctionApp20200611160123</ResourceId>
    <UserName>$FAQFunctionApp20200611160123</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://faqfunctionapp20200611160123.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>